/* styles.css */

body {
    background: url('login.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #f8f9fa;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-heading {
    font-size: 2rem;
    color: #fff; 
    margin-bottom: 10px;

} 


.card {
    margin-top: 100px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgb(250, 248, 248);
}
.card2 {
    margin-top: 200px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgb(250, 248, 248);
}


.card-header {
    background-color: rgb(40, 48, 75); /* Updated header background color */
    color: #fff;
    text-align: center;
    padding: 10px;
}

.card-body {
    padding: 20px;
}

.form-control {
    margin-bottom: 15px;
    background: #e9e9e9; /* Updated input field background color */
}


.btn-primary {
    background-color: rgb(40, 48, 75);
    border: none;
}

.btn-primary:hover {
    background-color: #a6a6a7;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    color: #0056b3;
}
