
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

/* icons */
@import url('./icon.css');

/* ===================
    Global Settings 
===================== */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    --color-primary: #316131;
    --color-secondary: #459122;
    --color-green-1: green;

    --color-red-1: red;
    --color-red-2: rgb(255, 242, 0);

    --color-light-1: #fff;
    --color-light-2: #eff;
    --color-light-3: #eee;
    --color-light-4: #ddd;
    --color-light-5: #ccc;

    --color-light-green: #cefccc;
    --color-light-gray: silver;

    --color-gray-1: #999;
    --color-gray-2: gray;

    --color-dark-1: #111;
    --color-dark-2: #222;
    --color-dark-3: #333;
    --color-dark-4: #444;
    --color-dark-5: #555;

    --purple-dark-1: #211e25;
    --purple-dark-2: #343236;

    --color-dark-blue: #2e2e3f;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    position: relative;
    width: 100%;
}

.section-wrap {
    padding: 2rem 3.6rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.section-title h1 {
    margin-top: 2rem;
    padding-bottom: 0.6rem;
    color: var(--purple-dark-2);
    font-size: 2rem;
    border-bottom: 2px dashed var(--color-light-gray);
}

.sub-section-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.sub-section-title p {
    margin-left: 0.4rem;
    color: var(--purple-dark-2);
    font-size: 1.4rem;
    font-weight: bold;
}

.sub-section-title a {
    margin-right: 0.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--color-red-2);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}

.sub-section-title a span {
    color: var(--color-red-2);
    font-size: 1rem;
    margin-left: 0.4rem;
}

.sub-section-title a:hover span {
    color: var(--color-red-2);
}

marquee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 1.4rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--color-light-1);
    background: rgba(0, 0, 0, 0.5);
}

marquee.about-marquee {
    margin-top: 1rem;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('#');
    background: webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('#');
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('#');
    background-size: cover;
    background-position: center;
}

/* =======================
    Global Settings End 
========================= */

/* ========================
    Header Section Start 
========================== */

header {
    height: auto;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 9999;
}

header.active {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-animation: anime 0.4s ease;
    animation: anime 0.4s ease;
}

@-webkit-keyframes anime {
    0% {
        -webkit-transform: translateY(-10rem);
        transform: translateY(-10rem);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes anime {
    0% {
        -webkit-transform: translateY(-10rem);
        transform: translateY(-10rem);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 4rem;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: rgb(40, 48, 75);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-bottom: 1px solid var(--color-light-gray);
    z-index: 99999;
}

nav .logo {
    margin-left: 4rem;
}

nav .logo a {
    color: var(--color-light-1);
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

nav .menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.menu-items li {
    margin-right: 2rem;
}

.menu-items li a {
    color: var(--color-light-1);
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu-items li a:hover {
    color: var(--color-red-2);
}

.search-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2.2rem;
    width: 24rem;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.search-box .search-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 15%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: var(--color-light-1);
    border-radius: 0.1rem 0 0 0.1rem;
}

.search-box .search-icon span {
    color: rgb(40, 48, 75);
    font-size: 1.2rem;
}

.search-box input {
    padding-left: 0.8rem;
    height: 100%;
    width: 80%;
    color: var(--color-dark-3);
    font-size: 1rem;
    border: none;
    outline: none;
    background: #e9e9e9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0 0.1rem 0.1rem 0;
}

.search-box input::-webkit-input-placeholder {
    font-size: 1rem;
}

.search-box input::-moz-placeholder {
    font-size: 1rem;
}

.search-box input:-ms-input-placeholder {
    font-size: 1rem;
}

.search-box input::-ms-input-placeholder {
    font-size: 1rem;
}

.search-box input::placeholder {
    font-size: 1rem;
}

nav .icon-links {
    margin-right: 2.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.icon-links div {
    position: relative;
    margin-right: 1.6rem;
}

.icon-links div span {
    color: var(--color-light-1);
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
}

.icon-links #search-btn {
    display: none;
}

.icon-links div #item-counter {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(0.9rem, -0.8rem);
    -ms-transform: translate(0.9rem, -0.8rem);
    transform: translate(0.9rem, -0.8rem);
    display: none;
    height: 1.3rem;
    width: 1.3rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: var(--color-light-1);
    font-size: 0.8rem;
    background: var(--color-red-1);
    border-radius: 50%;
}

.icon-links div #item-counter.active-item-counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* ======================
    Header Section End 
======================== */

/* ====================================
    Customer Support Card Area Start
======================================= */

.support-center {
    position: fixed;
    top: 5rem;
    right: 1rem;
    width: 24rem;
    height: 9.8rem;
    border: 1px solid var(--color-light-4);
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: hidden;
    z-index: 99999;
}

.support-center.active-support-center {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.support-center-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    background: var(--color-light-1);
    border: 2px solid var(--color-light-1);
}

.support-icon-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 33%;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgb(40, 48, 75);
}

.support-icon-area span {
    color: var(--color-light-1);
    font-size: 2.6rem;
}

.support-info-area {
    padding: 1.2rem;
    width: 67%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.support-info-area p {
    padding-bottom: 0.2rem;
    color: var(--color-dark-3);
    font-size: 1.1rem;
}

.support-info-area .hotline {
    padding-bottom: 0.4rem;
}

.support-info-area .email {
    padding-top: 0.4rem;
}

.close-support-center-card {
    position: fixed;
    top: 0.2rem;
    right: 0.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2rem;
    width: 2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.close-support-center-card span {
    color: var(--color-dark-3);
    font-size: 1.1rem;
}

/* ==================================
    Customer Support Card Area End
===================================== */

/* =======================
    Footer Area Start
========================= */


/* ===============================
    footer navigation area start
================================= */

.section-footer {
    background: #28304B;
    height: 27vh;
}

.footer-wrap {
    margin-top: 0.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-wrap>div {
    -ms-flex-preferred-size: 320px;
    flex-basis: 320px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.footer-wrap>.footer-menu,
.footer-wrap>.top-products-links,
.footer-wrap>.useful-links {
    -ms-flex-preferred-size: 190px;
    flex-basis: 190px;
}

.footer-wrap>div>h2 {
    padding-bottom: 0.4rem;
    position: relative;
    color: var(--color-light-1);
    font-size: 1.4rem;
}

.footer-wrap>div>h2::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    height: 0.2rem;
    width: 3.8rem;
    background: var(--color-gray-2);
    border-radius: 0.1rem;
}

.footer-wrap>div>div>p {
    padding-top: 0.6rem;
    color: var(--color-light-1);
    font-size: 1.1rem;
}

.footer-wrap>div>div {
    padding-top: 0.2rem;
}

.footer-wrap>div>div>p>a {
    color: var(--color-light-1);
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.footer-wrap>div>div>p>a:hover {
    color: orange;
}

.master-cards .payment-cards {
    margin-top: 0.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.payment-cards .payment-link {
    margin: 0.6rem 1rem 0 0;
}

.payment-cards .payment-link a {
    text-decoration: none;

}

.payment-link a span {
    color: var(--color-light-1);
    font-size: 3rem;
}

.social-media-links {
    margin-top: 0.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.social-media-links .f-links {
    margin-right: 0.8rem;
}

.social-media-links .f-links a {
    text-decoration: none;
}

.social-media-links .f-links a span {
    color: var(--color-light-1);
    font-size: 1.2rem;
}

/* =============================
    footer navigation area end
=============================== */
